In [37]:
import csv 
import pandas as pd
import numpy as np
import plotly.express as px

In [38]:
pwd!

'c:\\Users\\mathe\\Desktop\\PowerBi\\Comunidade_DS\\curso_python_zero_ds\\modulo_2'

In [39]:

filepath = 'base_de_dados_mod_2/kc_house_data.csv'

data = pd.read_csv(filepath)

# mostra quantidade de número de linhas e de colunas a função se chama nome_da_coluna.shape

In [40]:
## comando para vizualizar de forma ordenada os dados da coluna de preço 

#data = data[['id', 'price']].sort_values('price', ascending=False)
#print(data)

## Resolução dos exercícios

### Novas perguntas do CEO para vocês


* Quantas casas estão disponíveis para compra ? 
* Quantos atributos as casas possuem ? 
* Quais são os atributos das casas ? 
* Qual a casa mais cara (casa com maior valor de venda) ? 
* Qual a casa com maior número de quartos ? 
* Qual a soma total de quartos do conjunto de dados ? 
* Quantas casas possuem 2 banheiros?
* Qual o preço médio de todas as casas no conjunto de dados?
* Qual o preço médio de casas com 2 banheiros?
* Qual o preço mínimo entre as casas com 3 quartos?
* Quantas casas possuem mais de 300 metros quadrados na sala de estar?
* Quantas casas tem mais de 2 andares?
* Quantas casas tem vista para o mar?
* Das casas com vista para o mar, quantas tem 3 quartos?
* Das casas com mais de 300 metros quadrados de sala de estar, quantas tem mais de 2 banheiros?

### 1. Quantas casas estão disponíveis para compra ?

In [41]:
## as colunas 'id' e 'date' não fazem parte do dataset 


data.head(5)

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

In [42]:
# selecionar a coluna id 
# depois conta os dados únicos da coluna id, assim retornando o valor total da quantidade de id que tem

houses = len(data['id'].unique())

print(f'A quantidade de casas disponíveis são de {houses}')

A quantidade de casas disponíveis são de 21436

In [43]:
# segunda forma de resolver o mesmo problema da quantidade de casas disponíveis 
# remover os dados duplicado da coluna id 
# depois contar a quantidade de dados total , após a remoção

len(data['id'].drop_duplicates())

21436

### 2. Quantos atributos as casas possuem ?

In [44]:
## Contando quantas colunas tem ao todo dentro do dataset 

qtd_atributos = data.drop(['id', 'date'], axis = 1).columns

print(f'As casas possuem {len(qtd_atributos)} atributos')

As casas possuem 19 atributos

### 3. Quais são os atributos das casas ?

In [45]:
## como a variável qtd_atributos já existia , sendo global, trouxe novamente e transformei em lista mostrando
# todos nomes das colunas que existem no dataset
atributos = qtd_atributos.to_list()
print(f' essa são os nomes de todas as colunas do dataset {atributos}')

 essa são os nomes de todas as colunas do dataset ['price', 'bedrooms', 'bathrooms', 'sqft_living', 'sqft_lot', 'floors', 'waterfront', 'view', 'condition', 'grade', 'sqft_above', 'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode', 'lat', 'long', 'sqft_living15', 'sqft_lot15']

### 4. Qual a casa mais cara (casa com maior valor de venda) ?

In [46]:
## precisa resetar o index do dataframe porque preciso pegar o index da casa que é mais cara
## caso não faça o reset o valor que será pego é primeiro valor da coluna id , esse valor não é a casa mais cara
## utiliza função .loc para pegar a primeira linha da coluna id por 



data[['id', 'price']].sort_values('price',ascending= False).reset_index( drop = True).loc[0, 'id']

6762700020

### 5. Qual a casa com maior número de quartos ?

In [47]:

data[['id', 'bedrooms']].sort_values('bedrooms', ascending= False).reset_index(drop = True).loc[0, 'id']

2402100895

### 6. Qual a soma total de quartos do conjunto de dados ?

In [48]:

qtd_total_rooms = data['bedrooms'].sum()
                   
print(f'O total de quartos da base de dados {qtd_total_rooms}')

O total de quartos da base de dados 72854

### 7. Quantas casas possuem 2 banheiros?

In [49]:
## Estrategia
## 1. Seleciona todas as linhas da coluna 'bathrooms' sejam iguais 2
## 2 . Pegar todos os 'id' que tem 2 bathrooms
## 3. e no final realioza a contagem dessas linhas com o método len

houses_with_2_bathrooms = len(data.loc[data['bathrooms'] == 2, ['id', 'bathrooms']])

print(f'O número de casas com 2 banheiros são de {houses_with_2_bathrooms}')

O número de casas com 2 banheiros são de 1930

### 8. Qual o preço médio de todas as casas no conjunto de dados?

In [50]:
### Estratégia
## Pega a função que realiza a média de valores de preço e arredonda esses valores

price_mean = np.round(data['price'].mean(), 2)

print(f'O preço médio das casas é de {price_mean} R$')

O preço médio das casas é de 540088.14 R$

### 9. Qual o preço médio de casas com 2 banheiros?

In [51]:

result = np.round(data.loc[data['bathrooms'] == 2, 'price'].mean(), 2)

print(f'O valor médio das casas com 2 banheiros é de {result} R$')

O valor médio das casas com 2 banheiros é de 457889.72 R$

### 10. Qual o preço mínimo entre as casas com 3 quartos?

In [52]:
result_min = data.loc[data['bedrooms'] == 3, 'price'].min()
print(f'O valor médio das casas com 2 banheiros é de {result_min} R$')

O valor médio das casas com 2 banheiros é de 82000.0 R$

### 11. Quantas casas possuem mais de 300 metros quadrados na sala de estar?

In [53]:
data['m2'] = data['sqft_living'] * 0.093

houses_300 = len(data.loc[data['m2'] > 300, 'id'])

print(f' {houses_300} casas possuem mais de 300 metros quadrados na sala de estar.'
)

 2258 casas possuem mais de 300 metros quadrados na sala de estar.

### 12 . Quantas casas tem mais de 2 andares?

In [54]:
houses_floors = len(data.loc[data['floors'] > 2, 'id'])

print(f'{houses_floors} casas possuem mais de 2 andares')

782 casas possuem mais de 2 andares

### 13. Quantas casas tem vista para o mar?

In [55]:
mar = len(data.loc[data['waterfront'] != 0, 'id'])
print(f'{mar} casas tem vista para o mar')

163 casas tem vista para o mar

### 14. Das casas com vista para o mar, quantas tem 3 quartos?

In [56]:
casa = len(data.loc[(data['waterfront'] == 1)  & (data['bedrooms'] == 3), 'id'])

print(f'{casa} casas tem vista para o mar e possuem 3 quartos')

64 casas tem vista para o mar e possuem 3 quartos

### 15. Das casas com mais de 300 metros quadrados de sala de estar, quantas tem mais de 2 banheiros?

In [57]:
## a nova coluna chamada m2 vem da questão 11 , pois os dados estão na unidade de medida ft temos que passar para metros

resposta = len(data.loc[(data['m2'] > 300)  & (data['bathrooms'] > 2), 'id'])

print(f'{resposta} casas tem mais de 300 metros quadrados de sala de estar e mais de 2 banheiros')

2201 casas tem mais de 300 metros quadrados de sala de estar e mais de 2 banheiros

## Módulo 02:  acrescentando novas perguntas do CEO

### 16 . Qual imóvel mais antigo a venda ?

In [58]:
## verificar se os dados da coluna date é de fato do tipo data
## transforma a coluna chamada date para tipo de dado data
## Já a segunda função é pra formatar essa coluna 

data['date'] = pd.to_datetime(data['date']).dt.date

data['date'] = pd.to_datetime(data['date']).dt.strftime('%Y-%m-%d')

In [59]:
resultado_imovel_antigo = data.sort_values('date',ascending= True).reset_index( drop = True).loc[0, 'date']
print(f'O imóvel mais antigo tem a data {resultado_imovel_antigo}')

O imóvel mais antigo tem a data 2014-05-02

In [60]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21613 entries, 0 to 21612
Data columns (total 22 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             21613 non-null  int64
 1   date           21613 non-null  object
 2   price          21613 non-null  float64
 3   bedrooms       21613 non-null  int64
 4   bathrooms      21613 non-null  float64
 5   sqft_living    21613 non-null  int64
 6   sqft_lot       21613 non-null  int64
 7   floors         21613 non-null  float64
 8   waterfront     21613 non-null  int64
 9   view           21613 non-null  int64
 10  condition      21613 non-null  int64
 11  grade          21613 non-null  int64
 12  sqft_above     21613 non-null  int64
 13  sqft_basement  21613 non-null  int64
 14  yr_built       21613 non-null  int64
 15  yr_renovated   21613 non-null  int64
 16  zipcode        21613 non-null  int64
 17  lat            21613 non-null  float64
 18  long           21613 non-null  float64
 19  sqft_living15  21613 non-null  int64
 20  sqft_lot15     21613 non-null  int64
 21  m2             21613 non-null  float64
dtypes: float64(6), int64(15), object(1)
memory usage: 3.6+ MB

### 18. Quantos imóveis possuem o número máximo de andares ?

In [61]:
## Verifica qual maior valor do dataframe (coluna floors)
## Depois contar os imóveis que possui esse maior valor


data['floors'].max()



imoveis_com_maior_num_andar = len(data[data['floors'] == 3.5])

print(f'O número de imóveis com 3.5 andares é {imoveis_com_maior_num_andar}')

O número de imóveis com 3.5 andares é 8

### 19.  Criar um classificação para o imóveis, separando- os em baixo e alto padrão de acordo com preço
    
  Acima de R$ 540.000 → Alto padrão
    
  Abaixo de R$ 540.000 → Baixo padrão

In [62]:
## Vou criar uma coluna chamada standart
## depois aplicar a classificação de acordo com o preço 

data['level'] = 'standart'

## primeiro a função .loc retorna todas as linhas cujo o preço é maior que 5400000, mas nesse caso vou pegar somente 
## as linhas da coluna level

data.loc[data['price'] < 540000, 'level'] = 'low_level'
data.loc[data['price'] == 540000, 'level'] = 'mid_level'
data.loc[data['price'] > 540000, 'level'] = 'high_level'



data.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,m2,level
0,7129300520,2014-10-13,221900.0,3,1.00,1180,5650,1.0,0,0,...,0,1955,0,98178,47.5112,-122.257,1340,5650,109.74,low_level
1,6414100192,2014-12-09,538000.0,3,2.25,2570,7242,2.0,0,0,...,400,1951,1991,98125,47.7210,-122.319,1690,7639,239.01,low_level
2,5631500400,2015-02-25,180000.0,2,1.00,770,10000,1.0,0,0,...,0,1933,0,98028,47.7379,-122.233,2720,8062,71.61,low_level
3,2487200875,2014-12-09,604000.0,4,3.00,1960,5000,1.0,0,0,...,910,1965,0,98136,47.5208,-122.393,1360,5000,182.28,high_level
4,1954400510,2015-02-18,510000.0,3,2.00,1680,8080,1.0,0,0,...,0,1987,0,98074,47.6168,-122.045,1800,7503,156.24,low_level

### 20. Gostaria de um relatório ordenado pelo preço e contento as seguintes informações: 
 
(id do imóvel, data que o imóvel ficou disponível para compra , número de quartos , o tamanho total do terreno , o preço do imóvel,  e por fim a classificação do imóvel (alto ou baixo padrão)).

In [63]:
### selecionar as colunas apontadas na questão 


report = data[['id', 'date','price','bedrooms','sqft_lot', 'level']].sort_values('price',ascending= False)

report.to_csv('resultado_aula_02.csv', index = False)

## 21. Criando Mapa  indicando onde as casas estão localizadas geograficamente.

In [64]:
data_mapa = data[['id','long', 'lat', 'price']]


mapa = px.scatter_mapbox(data_mapa, lat='lat', lon='long',
                        hover_name = 'id',
                        hover_data = ['price'],
                        color_discrete_sequence = ['blue'],
                        zoom = 7, 
                        height = 300)
                        
mapa.update_layout(mapbox_style="open-street-map")
mapa.update_layout(height = 300 , margin = {'r': 0 , 't': 0, 'l':0, 'b':0})
                         
                  
mapa.show()

ValueError: Mime type rendering requires nbformat>=4.2.0 but it is not installed

In [ ]:
mapa.write_html('mapa_house_rockte.html')

### 1. Crie uma nova coluna chamada: ‘’house_age’’
    - Se o valor da coluna "date' for maior que 2014-01-01 - "new_house"
    - Se o valor da coluna "date" for menor que 2014-01-01 - "old_house'

In [83]:
data['date'] = pd.to_datetime(data['date'], format='%Y-%m-%d')

data['house_age'] = data['date'].apply(lambda x: 'new_house' if x > pd.to_datetime('2014-01-01', format='%Y-%m-%d') else 'old_house')

#data['date'] = pd.to_datetime('2014-01-01', format='%Y-%m-%d')

# #for iten in range(len(data)): 
    # if data.loc[iten, 'date'] > '2014-01-01':
    #     data.loc[iten, 'house_age'] = 'new_house'
            
    # else: 
    #     data.loc[iten, 'house_age'] = 'old_house'

data.head(5)

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,m2,level,condition_type,house_age
0,7129300520,2014-10-13,221900.0,3,1.00,1180,5650,1.0,0,0,...,0,1955-01-01,1900-01-01,98178,47.5112,-122.257,109.74,low_level,regular,new_house
1,6414100192,2014-12-09,538000.0,3,2.25,2570,7242,2.0,0,0,...,400,1951-01-01,1991-01-01,98125,47.7210,-122.319,239.01,low_level,regular,new_house
2,5631500400,2015-02-25,180000.0,2,1.00,770,10000,1.0,0,0,...,0,1933-01-01,1900-01-01,98028,47.7379,-122.233,71.61,low_level,regular,new_house
3,2487200875,2014-12-09,604000.0,4,3.00,1960,5000,1.0,0,0,...,910,1965-01-01,1900-01-01,98136,47.5208,-122.393,182.28,high_level,good,new_house
4,1954400510,2015-02-18,510000.0,3,2.00,1680,8080,1.0,0,0,...,0,1987-01-01,1900-01-01,98074,47.6168,-122.045,156.24,low_level,regular,new_house

### 2. Crie uma nova coluna chamada: ‘’dormitory_type’’
    - Se o valor da coluna “bedrooms” for igual à 1 = “studio”
    - Se o valor da coluna “bedrooms” for igual à 2 = “apartament”
    - Se o valor da coluna “bedrooms” for maior que  2 = “house”

In [88]:
data['domitory_type']= data['bedrooms'].apply(lambda x: 'studio' if x == 1 else 'apartament' if x == 2 else 'house' if x > 2 else 'NA')

In [ ]:
# def classficacao_dormitory(data_frame):
    


#         if data_frame.loc['bedrooms'] == 1:
#           data_frame.loc['dormitory_t2'] = 'studio'
               

#         elif data_frame.loc['bedrooms'] == 2:
#           data_frame.loc['dormitory_t2'] = 'apartament'

#         elif data_frame.loc['bedrooms'] == 0:
#           data_frame.loc['dormitory_t2'] = 'NA'
             
#         else:
#           data_frame.loc['dormitory_t2'] = 'house'

In [ ]:
data.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,m2,level,dormitory_type,condition_type
0,7129300520,2014-10-13,221900.0,3,1.00,1180,5650,1.0,0,0,...,0,98178,47.5112,-122.257,1340,5650,109.74,low_level,house,regular
1,6414100192,2014-12-09,538000.0,3,2.25,2570,7242,2.0,0,0,...,1991,98125,47.7210,-122.319,1690,7639,239.01,low_level,house,regular
2,5631500400,2015-02-25,180000.0,2,1.00,770,10000,1.0,0,0,...,0,98028,47.7379,-122.233,2720,8062,71.61,low_level,apartament,regular
3,2487200875,2014-12-09,604000.0,4,3.00,1960,5000,1.0,0,0,...,0,98136,47.5208,-122.393,1360,5000,182.28,high_level,house,good
4,1954400510,2015-02-18,510000.0,3,2.00,1680,8080,1.0,0,0,...,0,98074,47.6168,-122.045,1800,7503,156.24,low_level,house,regular

In [ ]:
#data[['dormitory_t2']] = data[2].apply(classficacao_dormitory(data))

### 3. Crie uma nova coluna chamada: “condition_type”
- Se o valor da coluna “condition for menor ou igual à 2 ” = “bad”
- Se o valor da coluna “condition” for igual a 3 ou 4 = regular
- Se o valor da coluna “condition” for igual á 5 = “good

In [66]:

data['condition_type'] = data['condition'].apply(lambda x: 'bad' if x <= 2 else 'regular' if (x == 3) or (x == 4) else 'good')

In [67]:
data.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,m2,level,condition_type
0,7129300520,2014-10-13,221900.0,3,1.00,1180,5650,1.0,0,0,...,1955,0,98178,47.5112,-122.257,1340,5650,109.74,low_level,regular
1,6414100192,2014-12-09,538000.0,3,2.25,2570,7242,2.0,0,0,...,1951,1991,98125,47.7210,-122.319,1690,7639,239.01,low_level,regular
2,5631500400,2015-02-25,180000.0,2,1.00,770,10000,1.0,0,0,...,1933,0,98028,47.7379,-122.233,2720,8062,71.61,low_level,regular
3,2487200875,2014-12-09,604000.0,4,3.00,1960,5000,1.0,0,0,...,1965,0,98136,47.5208,-122.393,1360,5000,182.28,high_level,good
4,1954400510,2015-02-18,510000.0,3,2.00,1680,8080,1.0,0,0,...,1987,0,98074,47.6168,-122.045,1800,7503,156.24,low_level,regular

### 4. Modifique o TIPO a coluna “condition” para STRING

In [68]:
data['condition'] = data['condition'].astype(str)

###  5. Delete as colunas: “sqft_living15” e “sqft_lot15”

In [69]:
data.drop(['sqft_living15', 'sqft_lot15'], inplace= True , axis = 1)

In [70]:
data['yr_built']

0        1955
1        1951
2        1933
3        1965
4        1987
         ...
21608    2009
21609    2014
21610    2009
21611    2004
21612    2008
Name: yr_built, Length: 21613, dtype: int64

### 6.  Modifique o TIPO a Coluna “yr_built” para Date

In [71]:
## transformando coluna yr_built do tipo int para date 


data['yr_built'] = pd.to_datetime(data['yr_built'], format='%Y')
# data['yr_built'] = pd.to_datetime(data['yr_built'], format='%Y').dt.year

In [72]:
data['yr_built']

0       1955-01-01
1       1951-01-01
2       1933-01-01
3       1965-01-01
4       1987-01-01
           ...
21608   2009-01-01
21609   2014-01-01
21610   2009-01-01
21611   2004-01-01
21612   2008-01-01
Name: yr_built, Length: 21613, dtype: datetime64[ns]

### 7.Modifique o TIPO a Coluna “yr_renovated” para Date

In [73]:
## Utilizando a função lambda para modificar os dados , pois caso a data seja igual a zero é preciso formatar para que se torne dado do tipo data

data['yr_renovated'] = data['yr_renovated'].apply(lambda x:  pd.to_datetime('1900-01-01', format= '%Y-%m-%d') if x == 0 else pd.to_datetime(x, format= '%Y'))

In [74]:
data['yr_renovated']

0       1900-01-01
1       1991-01-01
2       1900-01-01
3       1900-01-01
4       1900-01-01
           ...
21608   1900-01-01
21609   1900-01-01
21610   1900-01-01
21611   1900-01-01
21612   1900-01-01
Name: yr_renovated, Length: 21613, dtype: datetime64[ns]

### 8. Qual a data mais antiga de construção de imóvel ?

In [75]:

resultado_built_antiga = data['yr_built'].min()
print(f'O imóvel mais antigo tem a data {resultado_built_antiga}')

O imóvel mais antigo tem a data 1900-01-01 00:00:00

### 9.Qual a data mais antiga de renovação de um imóvel ?

In [76]:
## primeiro vamos filtrar todas as datas que foram diferentes de zero pois 1900 -01-01 é data das casa que não tiveram renovação 
### depois que filtrou para todos imóveis que tiveram renovação , é filtrar pelo mais antigo.

resultado_renovated_antiga = data.loc[data['yr_renovated'] != pd.to_datetime('1900-01-01', format= '%Y-%m-%d'), 'yr_renovated'].min()

print(f'O imóvel mais antigo a ser renovado foi {resultado_renovated_antiga}')

O imóvel mais antigo a ser renovado foi 1934-01-01 00:00:00

### 10. Quantos imóveis tem 2 andares ?

In [77]:
imoveis_com_2_andares = (data['floors'] == 2).sum()

print(f'O número de imóveis com 2 andares é {imoveis_com_2_andares}')

O número de imóveis com 2 andares é 8241

### 11. Quantos imóveis estão com a condição igual a ‘regular’ ?

In [91]:
result_11 = data.loc[data['condition_type'] == 'regular','id'].size
print(f'O número de imóveis na condição regular é {result_11}')

O número de imóveis na condição regular é 19710

### 12. Quantos imóveis estão com a condição igual a ‘bad’ e possue “vista para água ” ?

In [92]:
result_12 = data.loc[(data['condition_type'] == 'bad') & (data['waterfront'] == 1), 'id'].size

print(f'O número de imóveis nas condições bad e com vista para água é {result_12}')

O número de imóveis nas condições bad e com vista para água é 2

#### 13. Quantos imóveis estão com a condição igual a ‘good’ e são ‘new_house’ ?

In [93]:
result_13 = data.loc[(data['condition_type'] == 'good') & (data['house_age'] == 'new_house'),'id'].size

print(f'O número de imóveis que são novos e com condição boa são de {result_13}')

O número de imóveis que são novos e com condição boa são de 1701

### 14. Qual o valor do imóvel mais caro do tipo ‘studio’ ?

In [95]:

result_14 = data.loc[data ['domitory_type'] == 'studio', 'price'].max()

print(f'O imóvel mais caro do tipo studio possui valor de  {result_14} R$')

O imóvel mais caro do tipo studio possui valor de  1247000.0 R$

### 15. Quantos imóveis do tipo ‘apartament’ foram reformados em 2015 ?

In [108]:
result_15 = data.loc[(data['domitory_type'] == 'apartament') & (data['yr_renovated'] == pd.to_datetime('2015-01-01')), 'id'].size

print(f'O número de imóveis do tipo apartament que foram reformados em 2015 é {result_15}')

O número de imóveis do tipo apartament que foram reformados em 2015 é 0

### 16. Qual o maior número de quartos que imóvel do tipo ‘house’ possui ?

In [109]:
data.loc[(data['domitory_type'] == 'house'), 'bedrooms'].max()

33

#### 17. Quantos imóveis ‘new_house’ foram reformados no ano de 2014 ?

In [113]:
result_17 = data.loc[(data['house_age'] == 'new_house') & (data['yr_renovated'] == pd.to_datetime('2014-01-01')), 'id'].size

print(f'O número de imóveis novos que foram reformados em 2014 é de {result_17} imóveis' )

O número de imóveis novos que foram reformados em 2014 é de 91 imóveis

### 18. Seleciona as colunas:  ‘id’ , ‘date’ , ‘price ’, ‘floors’ , ‘zipcode’ pelo método: 
    
     - Direto pelo nome das colunas 
    
     - Direto pelo índices 
    
     - Pelos índices das linhas e nomes das colunas 
    
     - Indicies booleanos

In [119]:
#### selecionando pelo nome das colunas 

#data[['id', 'date', 'price', 'floors', 'zipcode']]

### selecionando pelo método de índices 
# data.iloc[:, [0,1,2,7,16]]


### selecionando pelo índices das linhas e indices de colunas 

# data.iloc[0:10, 0:4]

# selecionando as colunas utilizando índices booleanos
# data.iloc[0:10 , [True, True, True, False, False, False,
    #    False, True, False, False, False, False,
    #    False, False, False, False, True,
    #    False, False, False, False, False, False,
    #    False]]

           id       date      price  floors  zipcode
0  7129300520 2014-10-13   221900.0     1.0    98178
1  6414100192 2014-12-09   538000.0     2.0    98125
2  5631500400 2015-02-25   180000.0     1.0    98028
3  2487200875 2014-12-09   604000.0     1.0    98136
4  1954400510 2015-02-18   510000.0     1.0    98074
5  7237550310 2014-05-12  1225000.0     1.0    98053
6  1321400060 2014-06-27   257500.0     2.0    98003
7  2008000270 2015-01-15   291850.0     1.0    98198
8  2414600126 2015-04-15   229500.0     1.0    98146
9  3793500160 2015-03-12   323000.0     2.0    98038

### 19. Salve um arquivo .csv com somente as colunas house_age , dormitory_type , condition_type

In [121]:
data[['houSse_age','domitory_type', 'condition_type']].to_csv('exercicio_modulo_02_quest_19.csv')