In [1]:
import pandas as pd
import numpy as np 

## importing project data 

data = pd.read_csv('kc_house_data.csv')

In [19]:
## data dimensions 
def see_the_shape(df):
    
    print(f'Number of rows: {df.shape[0]}')
    print(f'Number of columns: {df.shape[1]}')

    return None

In [20]:
see_the_shape(data)

Number of rows: 21613
Number of columns: 21

In [4]:
data.dtypes

### checking data typing
### converting data from date column to date
data['date'] = pd.to_datetime(data["date"])

In [5]:
## descriptive statistics 

## central tendency - media , mediana
new_atribuites = data.select_dtypes(include = ['float64','int64'])

media = new_atribuites.apply(np.mean, axis = 0)

mediana = new_atribuites.apply(np.median, axis = 0)

## std, min , max 

min_ = new_atribuites.apply(np.min, axis= 0)
max_ = new_atribuites.apply(np.max, axis= 0)
std_ = new_atribuites.apply(np.std, axis = 0)

In [6]:
## transforming filters into dataframe
new_atribuites = pd.DataFrame(new_atribuites)
media = pd.DataFrame(media)
mediana = pd.DataFrame(mediana)
min_ = pd.DataFrame(min_)
max_ = pd.DataFrame(max_)
std_ = pd.DataFrame(std_)


df1 = pd.concat([min_, max_, media , mediana , std_], axis = 1 ).reset_index()

df1.columns= ['atribuites','minimo','maximo','media','mediana', 'std']

In [13]:
## removendo a notacao cientifica 

pd.set_option('display.float_format', lambda x: '%.3f' % x)

In [15]:
df1

,atribuites,minimo,maximo,media,mediana,std
0,id,1000102.000,9900000190.000,4580301520.865,3904930410.000,2876499023.428
1,price,75000.000,7700000.000,540088.142,450000.000,367118.703
2,bedrooms,0.000,33.000,3.371,3.000,0.930
3,bathrooms,0.000,8.000,2.115,2.250,0.770
4,sqft_living,290.000,13540.000,2079.900,1910.000,918.420
5,sqft_lot,520.000,1651359.000,15106.968,7618.000,41419.553
6,floors,1.000,3.500,1.494,1.500,0.540
7,waterfront,0.000,1.000,0.008,0.000,0.087
8,view,0.000,4.000,0.234,0.000,0.766
9,condition,1.000,5.000,3.409,3.000,0.651
10,grade,1.000,13.000,7.657,7.000,1.175
11,sqft_above,290.000,9410.000,1788.391,1560.000,828.072
12,sqft_basement,0.000,4820.000,291.509,0.000,442.565
13,yr_built,1900.000,2015.000,1971.005,1975.000,29.373
14,yr_renovated,0.000,2015.000,84.402,0.000,401.670
15,zipcode,98001.000,98199.000,98077.940,98065.000,53.504
16,lat,47.156,47.778,47.560,47.572,0.139
17,long,-122.519,-121.315,-122.214,-122.230,0.141
18,sqft_living15,399.000,6210.000,1986.552,1840.000,685.375
19,sqft_lot15,651.000,871200.000,12768.456,7620.000,27303.548

In [5]:
# libraries
# -----------------------------------------------------------------------------
import numpy as np
import pandas as pd
from geopy.geocoders import Nominatim
import ploty.express as px

# Functions
# ------------------------------------------------------------------------------
df = data

def show_dtypes(df):
	t = df.dtypes
	return t

# # data dimensions


def see_the_shape(df):

	print(f'Number of rows: {df.shape[0]}')
	print(f'Number of columns: {df.shape[1]}')

	return None

# criando uma funçao que faz requisição API e preenche as novas colunas 

def collect_data(df, cols):
# initialize API

	geolocator = Nominatim = (user_agent = 'geoapiExercises')
		
	df = df.head(20)

		# create columns empy
		
		# for item range(len(cols)):
	df.loc[:, cols[0]] = 'NA'
	df.loc[:, cols[1]] = 'NA'
		
	for i in range(len(df)): 
			# percorre toda coluna lat e todas a coluna long, e concatena cada linha e de
		query = str(df.loc[i,'lat']) + ',' + str(df.loc[i,'long'])
		response = geolocator.reverse(query)
			# verifica se as colunas atribuidas no inicio da function existe no dicionario adress 
			# caso a coluna exista no dicionario preenche as colunas definidas 
		if cols[0] in response.raw['address']:
			df.loc[i, 'house_number'] = response.raw['address'][cols[0]]

		if cols[1] in response.raw['address']:
			df.loc[i, 'road'] = response.raw['address'][cols[1]]

	return df	
# --------------------------------------------------------------------------------
# extracao 
# -------------------------------------------------------------------------------
# load dataset-------------------------------------------------------------------
data = pd.read_csv('kc_house_data.csv')


# transformation
# --------------------------------------------------------------------------------
# descriptive statistics 

# central tendency - media , mediana
new_atribuites = data.select_dtypes(include = ['float64','int64'])

media = new_atribuites.apply(np.mean, axis = 0)

mediana = new_atribuites.apply(np.median, axis = 0)

# std, min , max 

min_ = new_atribuites.apply(np.min, axis= 0)
max_ = new_atribuites.apply(np.max, axis= 0)
std_ = new_atribuites.apply(np.std, axis = 0)

# transforming filters into dataframe
new_atribuites = pd.DataFrame(new_atribuites)
media = pd.DataFrame(media)
mediana = pd.DataFrame(mediana)
min_ = pd.DataFrame(min_)
max_ = pd.DataFrame(max_)
std_ = pd.DataFrame(std_)


df1 = pd.concat([min_, max_, media , mediana , std_], axis = 1 ).reset_index()

df1.columns= ['atribuites','minimo','maximo','media','mediana', 'std']

see_the_shape(df1)


# Crie uma nova coluna chamada: 'dormitory_type'
# - Se o valor da coluna 'bedrooms' for igual à 1 => 'studio'
# - Se o valor da coluna 'bedrooms' for igual à 2 => 'apartament'
# - Se o valor da coluna 'bedrooms' for maior que 2 => 'house'

data['dormitory_type'] = data['bedrooms'].apply(lambda x: 'studio' if x == 1 else 'apartament' if x == 2 else 'house'))

# criando uma nova coluna chamada data que classifica o nível dos imóveis de acordo com os prices

data['level'] = data['price'].apply(lambda x: 0 if x <= 321950 else 1 (x > 321950) & (x <= 450000) if (x > 450000) & (x <= 645000) else 3)


see_the_shape(data)



# # -------------------------------------------------------------------------------


# map 

houses = data[['id','lat', 'long', 'price', 'level']].copy()

fig = px.scatter_mapbox(houses, lat="lat", 
												lon="long",
												color = "level", 
												hover_name="id", 
												hover_data= "price" ,
                        color_discrete_sequence=["fuchsia"], 
												size_max = 15, 
												zoom=3)

fig.update_layout(mapbox_style="open-street-map")
fig.update_layout(margin={"r":0,"t":0,"l":0,"b":0})
fig.show()

ModuleNotFoundError: No module named 'ploty'